<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27924645670-9n81hhq5q7ucgebo8955o13et1c8u3ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27924645670-9n81hhq5q7ucgebo8955o13et1c8u3ps</string>
	<key>API_KEY</key>
	<string>AIzaSyBMSHWe7qE-max1vgY0iZiEOHHgUbdMzMY</string>
	<key>GCM_SENDER_ID</key>
	<string>27924645670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marekrudzki.cookbook</string>
	<key>PROJECT_ID</key>
	<string>cookbook-2ceab</string>
	<key>STORAGE_BUCKET</key>
	<string>cookbook-2ceab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27924645670:ios:bf670c3d7ecae3648ca3e7</string>
</dict>
</plist>